<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Impulse VMS: Registeration Message</title>
</head>

<body>
    <h1> <%= statusMessage %> </h1>
    <p>
        <h3>You will be redirected to Impulse VMS Login Page Shortly.</h3>
    </p>
    <script>
        setTimeout(function() {
            window.location="/"
        },10000)
    </script>
</body>

</html>